In [25]:
import pathlib
import pandas as pd

In [26]:
pwd

'C:\\Users\\totor\\Desktop\\Bootcamp\\unit_3_python\\homework\\PyPoll'

In [28]:
csv_df = pathlib.Path("Resources/election_data.csv")
export_df = pathlib.Path("analysis/election_results.tsv")

In [29]:
df = pd.read_csv(csv_df)
df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [30]:
total_df=len(df["Voter ID"].unique())
total_df
total_df2 = pd.DataFrame({"Total Votes" :total_df}, index = [0])
total_df2

   Total Votes
0      3521001

In [31]:
df2 = df["Candidate"].unique()
df2 = pd.DataFrame(df2)
df2_rename =df2.rename(columns= {0 : "Candidates"})

In [32]:
df3 = df["Candidate"].value_counts()

In [33]:
df3 = pd.DataFrame(df3)

In [34]:
df3
df3_rename = df3.rename(columns={"Candidate": "Total number of Votes"})
votes = df3_rename.reset_index(drop=True)
votes

   Total number of Votes
0                2218231
1                 704200
2                 492940
3                 105630

In [35]:
df4 = (df3 / total_df * 100)

In [36]:
df4 = df4.round(0).astype(str) + "%"

In [37]:
df4

         Candidate
Khan         63.0%
Correy       20.0%
Li           14.0%
O'Tooley      3.0%

In [38]:
df4.columns = ["Percentage of Votes"]

In [39]:
df5 =df4.reset_index(drop=True)
df6 = df5.round()
df7 =df6.round(decimals=6)
df7

  Percentage of Votes
0               63.0%
1               20.0%
2               14.0%
3                3.0%

In [40]:
summary_df = pd.concat([df2_rename,votes, df5], axis =1)
summary_df

  Candidates  Total number of Votes Percentage of Votes
0       Khan                2218231               63.0%
1     Correy                 704200               20.0%
2         Li                 492940               14.0%
3   O'Tooley                 105630                3.0%

In [41]:
winner_df2 = pd.DataFrame({"Winner" : "Khan"}, index = [0])
winner_df2

  Winner
0   Khan

In [42]:

summary_df2 = pd.concat([total_df2, summary_df, winner_df2], axis =1)
print("Election Results")
print("----------------------------------------------------")
print(summary_df2)
print("----------------------------------------------------")
print("Winner: Khan")

Election Results
----------------------------------------------------
   Total Votes Candidates  Total number of Votes Percentage of Votes Winner
0    3521001.0       Khan                2218231               63.0%   Khan
1          NaN     Correy                 704200               20.0%    NaN
2          NaN         Li                 492940               14.0%    NaN
3          NaN   O'Tooley                 105630                3.0%    NaN
----------------------------------------------------
Winner: Khan

In [44]:
summary_df2.to_csv(export_df, sep='\t', index=False)

In [45]:
pwd

'C:\\Users\\totor\\Desktop\\Bootcamp\\unit_3_python\\homework\\PyPoll'