In [35]:
import pathlib
import pandas as pd
import numpy as np

In [48]:
csvpath= pathlib.Path("Resources/budget_data.csv")
exportpath= pathlib.Path("analysis/results.tsv")

In [37]:
csv_df = pd.read_csv(csvpath)
csv_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [38]:
months_df = len(csv_df["Date"].unique())
months_df

86

In [39]:
profit_df = sum(csv_df["Profit/Losses"])
profit_df

38382578

In [40]:
csv_df["change from previous month"] = csv_df["Profit/Losses"] - csv_df["Profit/Losses"].shift(1)
csv_df

        Date  Profit/Losses  change from previous month
0   Jan-2010         867884                         NaN
1   Feb-2010         984655                    116771.0
2   Mar-2010         322013                   -662642.0
3   Apr-2010         -69417                   -391430.0
4   May-2010         310503                    379920.0
..       ...            ...                         ...
81  Oct-2016         102685                   -665765.0
82  Nov-2016         795914                    693229.0
83  Dec-2016          60988                   -734926.0
84  Jan-2017         138230                     77242.0
85  Feb-2017         671099                    532869.0

[86 rows x 3 columns]

In [41]:
average_change = csv_df["change from previous month"].mean()
average_change = format(average_change, ".2f")
average_change

'-2315.12'

In [42]:
min_df = csv_df["change from previous month"].min()
min_df

monthmin_df = csv_df.loc[csv_df["change from previous month"] == min_df]

print (isinstance(monthmin_df, pd.DataFrame))
monthmin2_df = monthmin_df.reset_index(drop=True)

monthmin3_df = monthmin2_df.rename(columns = {"Date": "Greatest Increased Month/Year",
                              "change from previous month": "Greatest Increased profit of that Month"})
monthmin3_df = monthmin3_df.drop(["Profit/Losses"], axis = 1)
monthmin3_df

True

  Greatest Increased Month/Year  Greatest Increased profit of that Month
0                      Sep-2013                               -2196167.0

In [43]:
max_df = csv_df["change from previous month"].max()
max_df

monthmax_df = csv_df.loc[csv_df["change from previous month"] == max_df]

print (isinstance(monthmax_df, pd.DataFrame))
monthmax2_df = monthmax_df.reset_index(drop=True)

monthmax3_df = monthmax2_df.rename(columns = {"Date": "Greatest Increased Month/Year",
                              "change from previous month": "Greatest Increased profit of that Month"})
monthmax3_df = monthmax3_df.drop(["Profit/Losses"], axis = 1)

True

In [44]:
summary_df = pd.DataFrame({"Total Months": [months_df],
                          "Total": [profit_df],
                          "Average Change": [average_change]
                          })
summary_df

   Total Months     Total Average Change
0            86  38382578       -2315.12

In [45]:
summary_df2 = pd.concat([summary_df, monthmin3_df, monthmax3_df], axis =1)
summary_df2

,Total Months,Total,Average Change,Greatest Increased Month/Year,Greatest Increased profit of that Month,Greatest Increased Month/Year,Greatest Increased profit of that Month
0,86,38382578,-2315.12,Sep-2013,-2196167.0,Feb-2012,1926159.0

In [49]:
summary_df2.to_csv(exportpath, sep='\t')